body {
    margin: 3rem;
    background-color: rgb(32, 32, 32);
    color: #fff;
}

a {
  color: #00c3ff;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

h2 {
  margin-top: 2rem;
}